@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model Domain.Models.GenreModel

@{
    ViewData["Title"] = "Edit Genre";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Edit">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label asp-for="Name" class="control-label">Genre Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter genre name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Genre Description</label>
            <input asp-for="Description" class="form-control" placeholder="Enter genre description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save Changes</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancel</a>
    </form>
</div>
