@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Domain.Models.BookModel

@{
    ViewData["Title"] = "Edit Book";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Publisher" class="control-label"></label>
        <input asp-for="Publisher" class="form-control" />
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Available" class="control-label"></label>
        <input asp-for="Available" class="form-control" />
        <span asp-validation-for="Available" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreId" class="control-label"></label>
        <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-save"></i> Save Changes
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i> Cancel
        </a>
    </div>
</form>
